* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
	color: #1c1c1c;
	font-weight: 400;
	font-family: "Proxima Nova", Helvetica,Arial, sans-serif;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
	text-align: center;
	color: #ffb400;
}

h1{
	font: bold 27px 'cubanoregular', arial, sans-serif;
	font-weight: 900;
	margin: 35px 0;
}

h2{
	font-family: 'Pacifico', cursive;
	color: #ffb400;
	margin: 20px 0;
}

header {
    background: url(img/bg-top-buttom.jpg) repeat;
    text-align: center;
}

nav {
	background-color: #f5f5f5;
	background: url(img/bg-nav.png) repeat-x;
	height: 63px;
	border-bottom: solid 6px #6e6e6e;
}

a {
	text-decoration: none;
	outline: none;
}

nav a {
	display: inline-block;
	color: #676868;
	font: bold 18px 'cubanoregular', arial, sans-serif;
	padding: 0 20px;
	font-weight: 900;
	line-height: 63px;
}

nav a:hover{
    color: #fecf5f;
	background: url(img/nav-hover.png) no-repeat bottom center;
	border-bottom: solid 6px #fecf5f;
}

article {
	text-align: justify;
	line-height: 25px;
}

p {
	margin-top: 15px;
}

.dummy {
	display: inline-block;
	min-width: 1200px;
}

.content_wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	text-align: justify;
}	

.subtitle {
	color: white;
	font-weight: 500;
}

.phone {
	position: absolute;
	top: -20px;
	left: 80px;
	font: bold 24px 'cubanoregular', arial, sans-serif;
	color: white;
	text-shadow: 2px 2px 2px #000;
}

.carousel_first {
	background: url(img/ochakov_plyazh.jpg) no-repeat center;
}

.carousel_second {
	background: url(img/ochakov_more.jpg) no-repeat center;
}

.carousel_third {
	background: url(img/otdih_na_more.jpg) no-repeat center;
}

.carousel_city_info {
	background: url(img/ochakov_otdih.jpg) no-repeat center;
}

.carousel_apartamenti {
	background: url(img/plyazh.jpg) no-repeat center;
}

.carousel_contact {
	background: url(img/berezan.jpg) no-repeat center;
}

.carousel {
	background-size:100% auto;
	height: 500px;
	border-bottom: solid 6px #6e6e6e;
}

#wrapper {
	background: url(img/bg.jpg) repeat-y top center;
	text-align: center;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#main_content {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	flex: 1 0 auto;
}

.welcome {
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	color: #ffb400;
}

.images {
	text-align: center;
}

.img_container {
	display: inline-block;
	width: 47%;
	min-width: 250px;
	max-height: 300px;
	text-align: center;
	overflow:  hidden;
}

.room {
	width: 100%;
	height: auto;
	margin: 10px;
}

.contat_container {
	float: right;
	text-align: left;
	padding: 15px 5px;
	font-size: 18px;
	font-weight: 900;
}

.map_container {
	padding: 15px 5px;
}

footer {
	background: url(img/bg-top-buttom.jpg) repeat;
	color: white;
	font-weight: 900;
	margin-top: 30px;
	padding: 30px 0;
	flex: 0 0 auto;
}

@media screen and (max-width: 1024px) {
	.carousel {
		height: 400px;
	}
}

@media screen and (max-width: 980px) {
	.carousel {
		height: 300px;
	}
}

@media screen and (max-width: 736px) {
	.carousel {
		height: 100px;
	}
	
	.contat_container {
		float: none;
	}
	
	.img_container {
		display: block;
		text-align: center;
		width: 90%;
		margin: 0 auto;
		overflow:  hidden;
	}
	
	article {
		padding: 0 10px;
	}
}

@media screen and (max-width: 640px) {
	.slider {
		display: none;
	}
	
	.carousel {
		display: none;
	}
	
	nav {
		line-height: normal;
		background: white;
		padding: 5px;
		height: auto;
	}
	
	nav a {
		display: block;
		padding: 0 0 0 10px;
	}
	
	nav a:hover{
		color: #fecf5f;
		background: white;
		border: solid 2px #fecf5f;
		border-radius: 6px;
	}
}

@media screen and (max-width: 640px) {
	.map_container {
		width: 90%;
		overflow: hidden;
	}
}